:root {
  --primary-color: #0b1628;
  --header-padding: 20px;
  --hamburger-size: 50px;
  --logo-height: 80px;
  --logo-margin-right: 20px;
  --logo-padding-left: 5px;
  --transition-duration: 0.3s;
}

/* Header styles */
.header {
  min-height: 10vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: var(--primary-color);
  padding: var(--header-padding);
  box-sizing: border-box;
  transition: padding var(--transition-duration) ease;
  -webkit-transition: padding var(--transition-duration) ease;
  -moz-transition: padding var(--transition-duration) ease;
}

.hamburger {
  display: none;
  color: white;
  font-size: var(--hamburger-size);
  background: none;
  border: none;
  cursor: pointer;
  transition: transform var(--transition-duration) ease;
  -webkit-transition: transform var(--transition-duration) ease;
  -moz-transition: transform var(--transition-duration) ease;
}

.hamburger:hover {
  transform: scale(1.1);
}

.hamburger:active {
  transform: scale(0.9);
}

.logo {
  height: var(--logo-height);
  margin-right: var(--logo-margin-right);
  padding-left: var(--logo-padding-left);
  filter: invert();
  transition: height var(--transition-duration) ease,
    padding var(--transition-duration) ease;
}

@media screen and (max-width: 1060px) {
  .logo {
    height: 70px;
  }
}

@media screen and (max-width: 920px) {
  .logo {
    height: 60px;
  }
}

@media screen and (max-width: 768px) {
  .logo {
    height: 50px;
  }
}

@media screen and (max-width: 700px) {
  .logo {
    height: 60px;
  }
  .hamburger {
    display: block;
  }
}

@media screen and (max-width: 375px) {
  .logo {
    height: 50px;
  }
  .hamburger {
    font-size: 3rem;
    display: block;
  }
}

@media screen and (max-width: 320px) {
  .logo {
    height: 50px;
  }
  .hamburger {
    display: block;
  }
}
