:root {
  --navbar-padding: 20px;
  --navbar-width: 80%;
  --navbar-background: rgba(11, 22, 40, 0.89);
  --navbar-text-color: white;
  --transition-duration: 0.3s;
}

/* Navbar styles */
.navbar {
  margin-left: var(--navbar-padding);
  margin-right: var(--navbar-padding);
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar ul {
  list-style: none;
  margin-right: px;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  display: inline;
  margin-right: var(--navbar-padding);
}

.navbar ul li a {
  text-decoration: none;
  color: var(--navbar-text-color);
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  display: inline-block;
  padding: 20px 10px;
  transition: font-size var(--transition-duration) ease;
}

.navbar ul li a:hover {
  color: #ffcc00;
  filter: drop-shadow(16px 16px 20px red) invert(75%);
  transform: scale(1.05);
}

.navbar ul li a:active {
  transform: scale(0.95);
}

@media screen and (max-width: 1060px) {
  .navbar ul li {
    margin-right: 0.3rem;
  }

  .navbar ul li a {
    font-size: 1rem;
  }
}

@media screen and (max-width: 920px) {
  .navbar ul li {
    margin-right: 0.2rem;
  }

  .navbar ul li a {
    font-size: 0.75rem;
  }
}

@media screen and (max-width: 768px) {
  .navbar ul li {
    margin-right: 0.1rem;
  }

  .navbar ul li a {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 700px) {
  .navbar {
    background-color: var(--navbar-background);
    display: none;
    flex-direction: column;
    position: absolute;
    top: 105px;
    left: 0;
    padding: var(--navbar-padding);
    margin-left: 0px;
    width: 90%;
    padding: 10px;
    box-sizing: border-box;
    transition: transform var(--transition-duration) ease,
      width var(--transition-duration) ease;
    transform: translateX(-100%);
    width: var(--navbar-width);
  }

  .navbar.open {
    display: flex;
    transform: translateX(0);
    width: 100%;
  }

  .navbar ul {
    width: 100%;
    text-align: center;
  }

  .navbar ul li {
    display: block;
    margin: 15px 0;
  }

  .navbar ul li a {
    font-size: 1rem;
    width: 100%;
    padding: 15px 0;
    margin: 0;
  }

  .navbar ul li:last-child {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 320px) {
  .navbar {
    top: 105px;
  }
}
